<!-- navbar -->
<app-navbar-admin></app-navbar-admin>
<router-outlet></router-outlet>

<!-- header -->
<section class="header-banner h-96 w-full bg-yellow-50">
    <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-center text-3xl md:text-4xl lg:text-5xl poppins font-semibold text-white">
            Menu Edit
        </h1>
    </div>
</section>

<!-- body -->
<app-foodedit></app-foodedit>


<!-- footer -->
<footer class="bg-gray-800 px-6 py-12">
    <div class=" max-w-screen-xl mx-auto px-6">
        <app-footer></app-footer>
    </div>
</footer>