<section class="my-12 max-w-screen-xl mx-auto px-6">

    <div class="flex items-center justify-center space-x-4 mt-6">
        <button
            class="text-sm py-3 px-6 rounded-full text-white poppins ring-red-300 focus:ring-4 transition duration-300 transform hover:scale-105"
            [ngClass]="{ 'bg-red-500': menuTab === 'NotReserved', 'bg-gray-300 text-black': menuTab !== 'NotReserved' }"
            (click)="handleMenuTabs('NotReserved')">
            Not Reserved
        </button>

        <button
            class="text-sm py-3 px-6 rounded-full text-white poppins ring-red-300 focus:ring-4 transition duration-300 transform hover:scale-105"
            [ngClass]="{ 'bg-red-500': menuTab === 'Reserved', 'bg-gray-300 text-black': menuTab !== 'Reserved' }"
            (click)="handleMenuTabs('Reserved')">
            Reserved
        </button>

        <button class="text-sm py-3 px-6 rounded-full bg-black text-white poppins" (click)="openAddTableModal()">
            + Add Table
        </button>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-12">

        <ng-container *ngIf="loading; else tableList">
            <app-skeleton *ngFor="let _ of [1,2,3]"></app-skeleton>
        </ng-container>


        <ng-template #tableList>
            <app-table-item 
            *ngFor="let table of filteredTables" 
            [table]="table" (onReserve)="reserve($event)"
            (onCancel)="cancelReserve($event)" 
            (onDelete)="removeTableFromList($event)"
            (onEdit)="openEditTableModal($event)">
        </app-table-item>
        </ng-template>
    </div>

</section>

<div *ngIf="showAddTableModal" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg p-6 w-full max-w-md shadow-lg">
        <h2 class="text-lg font-semibold mb-4">Add New Table</h2>

        <input type="text" placeholder="Table Number" [(ngModel)]="newTableNumber"
            class="border border-gray-300 rounded p-2 w-full mb-3" />

        <input type="number" placeholder="Chair Quantity" [(ngModel)]="newChairQuantity"
            class="border border-gray-300 rounded p-2 w-full mb-3" />

        <input type="file" (change)="onTableFileSelected($event)" class="mb-3" />

        <div class="flex justify-end space-x-2">
            <button class="px-4 py-2 rounded bg-gray-300" (click)="closeAddTableModal()">Cancel</button>
            <button class="px-4 py-2 rounded bg-black text-white" (click)="addTable()">Save</button>
        </div>
    </div>
</div>