<div class="max-w-screen-xl mx-auto my-12 px-6">
    <h1 class="text-4xl poppins pb-4">Signature Dishes</h1>
    <p class="text-gray-500 text-sm poppins w-2/4">
        Every signature dish is a story – cooked with passion, tradition, and a touch of creativity that defines who we
        are.
    </p>

    <!-- about us cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-8">
        <ng-container *ngIf="loading; else foodList">
            <app-skeleton *ngFor="let _ of [1,2,3]"></app-skeleton>
        </ng-container>
        <ng-template #foodList>
            <app-food-signatures-item *ngFor="let food of foods" [food]="food  "></app-food-signatures-item>
        </ng-template>
    </div>
</div>